<p id="notice"><%= notice %></p>

<h1>Notices</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Bajada</th>
      <th>Cuerpo</th>
      <th>Número Comentario</th>
      <th>Hora</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notices.reverse.first(10).each do |notice| %>
      <tr>
        <td><%= notice.titulo %></td>
        <td><%= notice.bajada %></td>
        <% editable = notice.cuerpo%>
        <% if editable.length > 1000 %>
                    <% editable = editable[0..1000] %>
                    <% indice = editable.rindex(' ') %>
                    <% editable = editable[0..indice] + "..." %>
        <%end%>
        <td><%= editable %></td>
        <td><%= notice.comentarios.count %></td>
        <td><%= notice.created_at %></td>
        <td><%= link_to 'Show', notice %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
