<div>
  <h1>Crear Noticia</h1>
  <%= form_for @new, url: {action: "create"} do |f|%>
    <div class = "field">
      <%= f.text_field :titulo, placeholder: "Título", class:"form-control" %>
    </div>
    <div class = "field">
      <%= f.text_area :bajada, placeholder: "Bajada", class:"form-control" %>
    </div>
    <div class = "field">
      <%= f.text_area :cuerpo, placeholder: "Cuerpo", style:"height:250px;", class:"form-control" %>
    </div>
    <div class = "field">
      <%= f.submit "Guardar", class:"btn be-red white"%>
    </div>
  <%end%>
</div>
